<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.vaughan.javawebmaster.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="realname" column="realName" jdbcType="VARCHAR"/>
            <result property="electricityid" column="electricityId" jdbcType="VARCHAR"/>
            <result property="phonenumber" column="phoneNumber" jdbcType="VARCHAR"/>
            <result property="useraccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userpassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="useravatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="residentorcomp" column="residentOrComp" jdbcType="VARCHAR"/>
            <result property="isadmin" column="isAdmin" jdbcType="TINYINT"/>
            <result property="isvalid" column="isValid" jdbcType="TINYINT"/>
            <result property="idcard" column="idCard" jdbcType="VARCHAR"/>
            <result property="electricityusage" column="electricityUsage" jdbcType="DECIMAL"/>
            <result property="unionid" column="unionId" jdbcType="VARCHAR"/>
            <result property="mpopenid" column="mpOpenId" jdbcType="VARCHAR"/>
            <result property="userrole" column="userRole" jdbcType="VARCHAR"/>
            <result property="isdelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,realName,electricityId,
        phoneNumber,userAccount,userPassword,
        userAvatar,address,residentOrComp,
        isAdmin,isValid,idCard,
        electricityUsage,unionId,mpOpenId,
        userRole,isDelete,createTime,
        updateTime
    </sql>
</mapper>
